

body{	

background-color:black;

}
.receipetitle{
	text-decoration:underline; color:#f2cd66;
	font-family:"Ink Free";
	
	
	
}
.receipetitle span{
	background-color:#e8e7e5;
}
.neigbor{
	font-style:italic;
}
.top{
	text-align:center;
}
ol{
	list-style-type:none;
	
	
}
ol.direction{
	list-style-type:decimal;
	
}
.recommadation ol{
	padding:0;
}
ol.element{
	list-style-image:url("../pie_icon.gif");
}
p.comment {
	background-color:#E7E998;
	margin: 20px;
	font-style:italic;
	
}

.bottom {
	text-align:right;
}
a.bottomlink{
	color:#f2cd66;
	text-decoration:underline;
	
}
#whole{
	background-image: url("../silverware.jpg");
margin: auto;
    width: 65%;
    border: 0px;
    padding: 10px;
    background-repeat: repeat;    
}


	
