h2{
font-family:"Times New Roman";
font-weight:bold;
font-style:italic;
color:#a7bceb;
}
.meChar{
font-weight:bold;
color:#f2cd66;	
}

a{
font-family:Tahoma;
text-decoration:underline; color:red}

.moviequote{
font-style:italic;
color:#a8986a;

}
ol{list-style-type: decimal;
}
.receipetitle{
	text-decoration:underline; color:#f2cd66;
	
	
}
.neigbor{
	font-style:italic;
}
body{
	background-color:#ccc6b6;
}