#container{
	border:10px solid white ;
	background-color:white;
	
	
	
}
#borderred{
	border:none;
	text-align:right;
	background-color:#A8F0F0;
}
#borderorange{
	border:none;
	font-size:14pt;
	
}
span{
	border-bottom:2px dashed blue;
	margin:3px;
}
.borderblue{
	border:4px solid #C2E9E9;
	background-color:#E8FBFB;
	border-radius:15px; 
	bord
	padding:5px;
	margin-top:10px;
	text-align:justify;
		overflow:auto;
		
}
body{
	background-image: url("http://mumstudents.org/cs472/2019-06-RS/Labs/2/background.gif");
	margin-left:10%;
	margin-right:10%;
	
}
p > img{
	float:right;

}
#left{
	margin-top:10px;
	border:4px solid #099da1;
		background-color:#E8FBFB;
	  border-radius: 50%;
		float:left;
		padding-left:70px;
		padding-bottom:70px;
		margin-right:10px;
		width:150px;
		 height:60px;
		
				
}
.second{
	
	margin-left:240px;
	
}