body 
{
    margin:0;
    padding:0;
    background-image: url("images/background.png");
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;	
}

#LeftSection
{
    width:550px;
    position:relative;
    float:left;
}

dt
{
	font-weight: bold;
    padding-top:5px;
}


#RottenAlign
{
    background-image:url("images/rbg.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;
	
}
#ContentBox
{
	margin-left: auto;
    margin-right: auto;
	width: 800px;
	border: 4px solid grey;
	border-radius: 20px;
	position: relative;	
	overflow: hidden;
}



#TextDesp
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}

#RottenAlign img
{
    float: left;
    margin-right: 5px;
}

.ReviewColumn
{
    width: 47%;
    float: left;
    margin-left: 2%;
}
#Overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
}
.Review
{
    font-size: 8pt;
    background-color: #E8DC9B;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
  padding:8px;
		text-align:left;
    overflow: hidden;
    position: relative;

}
.Revbloc{
	 margin-bottom:20pt;
}


.ReviewerInfo
{
    padding-top: 5px;
  
    
}

.ReviewerInfo span
{
    font-style: italic;
    
}


p img
{ 
	padding-right: 5px;
	float: left;
	
}
#imagecentered
{	  
    background-image: url("images/bannerbg.png");
    text-align:center;	
    background-repeat: repeat-x;
}

#MovieDesp
{
	font-size: 24pt;
    font-family:Tahoma,Verdana, sans-serif;
	text-align: center;
	font-weight: bold;
    text-shadow: 3px 3px #999999;
}

#Position
{
    position: fixed;
    right:0;
    bottom:0;
}

.Style
{
    opacity: 0.5;   
}
#ReviewCounts
{
    background-color:#A2B964;
    padding:5px;
    position: absolute;
	bottom:-170px;
	width: 550px;
	text-align: center;
	
}
ul{
	list-style:none;
	text-indent::initial;
}